---
import Basic from "../../layouts/Basic.astro";
import { getPublishedBlogEntries } from "../../content/blog/collection";

export async function getStaticPaths() {
  const blogEntries = await getPublishedBlogEntries();

  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Basic title={entry.data.title}>
  <div class="p-4">
    <p class="text-lg text-center">{entry.data.title}</p>
    <br />
    <div class="content">
      <Content />
    </div>
  </div>
</Basic>

<style>
  .content > :global(p) {
    margin-bottom: 1.2rem;
  }
</style>
