---
import Basic from "../layouts/Basic.astro";
import { getPublishedBlogEntries } from "../content/blog/collection";

const allBlogPosts = await getPublishedBlogEntries();
---

<Basic>
  <div class="flex flex-col gap-4 p-4">
    <ul>
      {
        allBlogPosts.map((post) => {
          return (
            <a href={`/posts/${post.slug}`}>
              <div>
                <span>{post.data.title}</span>
                <span class="text-sm text-orange-900">
                  _{post.data.publishDate}
                </span>
              </div>
            </a>
          );
        })
      }
    </ul>
  </div>
</Basic>
