---
const { title } = Astro.props;

const documentTitle = title ? `${title} | odd voyage` : "odd voyage";
---

<html lang="en" class="text-lg">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{documentTitle}</title>
  </head>
  <body class="bg-white">
    <div class="max-w-screen-sm m-auto min-h-screen bg-paper">
      <div class="w-full text-center text-lg p-2">
        <a href="/">odd voyage</a>
      </div>
      <slot />
    </div>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BV2VKP948Q"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(...args: any[]) {
        window.dataLayer!.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-BV2VKP948Q");
    </script>
  </body>
</html>
